In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv(r"C:\sachin\Python\Human Resource Management\output.csv")
data

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`07,`000,STATE - NCT OF DELHI,`00,`000,`0000,Total,828980,708129,120851,...,117709,61009,44743,16266,1969,1494,475,59040,43249,15791
1,`07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
2,`07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
3,`07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
4,`07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184873,`19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
184874,`19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
184875,`19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
184876,`19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
184877,`19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [9]:
data.dtypes

State Code                             object
District Code                          object
India/States                           object
Division                               object
Group                                  object
Class                                  object
NIC Name                               object
Main Workers - Total -  Persons         int64
Main Workers - Total - Males            int64
Main Workers - Total - Females          int64
Main Workers - Rural -  Persons         int64
Main Workers - Rural - Males            int64
Main Workers - Rural - Females          int64
Main Workers - Urban -  Persons         int64
Main Workers - Urban - Males            int64
Main Workers - Urban - Females          int64
Marginal Workers - Total -  Persons     int64
Marginal Workers - Total - Males        int64
Marginal Workers - Total - Females      int64
Marginal Workers - Rural -  Persons     int64
Marginal Workers - Rural - Males        int64
Marginal Workers - Rural - Females      int64
Marginal Workers - Urban -  Persons     int64
Marginal Workers - Urban - Males        int64
Marginal Workers - Urban - Females      int64
dtype: object

In [10]:
# Remove backticks (`) and convert to integer

data["State Code"] = data["State Code"].str.replace("`", "").astype(int)
data["District Code"] = data["District Code"].str.replace("`", "").astype(int)
data["Division"] = data["Division"].str.replace("`", "").astype(int)
data["Group"] = data["Group"].str.replace("`", "").astype(int)
data["Class"] = data["Class"].str.replace("`", "").astype(int)

### Clustering

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

# -----------------------------
# Pick the text column for NLP
# -----------------------------
TEXT_COL = "NIC Name"   # change to your text column name in 'data'

# -----------------------------
# TF-IDF Vectorization
# -----------------------------
vectorizer = TfidfVectorizer(stop_words="english", max_df=0.8, min_df=2)
X = vectorizer.fit_transform(data[TEXT_COL].astype(str))

# -----------------------------
# KMeans Clustering
# -----------------------------
n_clusters = 6   # tune this (try 4–10 for better grouping)
kmeans = KMeans(n_clusters=n_clusters, random_state=42, n_init=10)
data["Cluster"] = kmeans.fit_predict(X)

# -----------------------------
# Show top terms per cluster
# -----------------------------
terms = vectorizer.get_feature_names_out()
order_centroids = kmeans.cluster_centers_.argsort()[:, ::-1]

for i in range(n_clusters):
    top_terms = [terms[ind] for ind in order_centroids[i, :10]]
    print(f"Cluster {i}: {', '.join(top_terms)}")

# -----------------------------
# Save results
# -----------------------------
data.to_csv(r"C:\sachin\Python\Human Resource Management\industry_clusters.csv", index=False)
print("Clustered data saved!")

C:\Users\Sachin Hembram\AppData\Roaming\Python\Python312\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\Sachin Hembram\AppData\Roaming\Python\Python312\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "c:\ProgramData\anaconda3\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\ProgramData\anaconda3\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "c:\ProgramData\anaconda3\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Cluster 0: retail, sale, specialized, stores, stalls, markets, trade, goods, non, wholesale
Cluster 1: manufacture, products, equipment, machinery, apparel, metal, furniture, articles, chemical, textiles
Cluster 2: service, activities, personal, information, food, related, financial, business, printing, support
Cluster 3: education, repair, transport, wholesale, equipment, mining, household, goods, water, manufacturing
Cluster 4: construction, buildings, projects, roads, specialized, railways, utility, installation, civil, activities
Cluster 5: activities, support, telecommunications, organizations, services, accommodation, social, postal, security, membership
Clustered data saved!

In [13]:
data

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,Cluster
0,7,0,STATE - NCT OF DELHI,0,0,0,Total,828980,708129,120851,...,61009,44743,16266,1969,1494,475,59040,43249,15791,3
1,7,0,STATE - NCT OF DELHI,1,0,0,"Crop and animal production, hunting and relate...",1484,1271,213,...,224,150,74,23,13,10,201,137,64,2
2,7,0,STATE - NCT OF DELHI,1,11,0,Growing of non-perennial crops,169,151,18,...,92,65,27,14,12,2,78,53,25,3
3,7,0,STATE - NCT OF DELHI,1,11,111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,37,27,10,8,6,2,29,21,8,3
4,7,0,STATE - NCT OF DELHI,1,11,112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184873,19,345,District - Purba Medinipur,99,990,9900,Activities of extraterritorial organizations a...,18,12,6,...,0,0,0,0,0,0,0,0,0,5
184874,19,345,District - Purba Medinipur,99,991,0,Blank,8244,5866,2378,...,25591,8488,17103,22057,7272,14785,3534,1216,2318,3
184875,19,345,District - Purba Medinipur,99,991,9910,Blank,8244,5866,2378,...,25591,8488,17103,22057,7272,14785,3534,1216,2318,3
184876,19,345,District - Purba Medinipur,99,992,0,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,14872,3352,11520,13204,2934,10270,1668,418,1250,3
184877,19,345,District - Purba Medinipur,99,992,9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,14872,3352,11520,13204,2934,10270,1668,418,1250,3